@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-size: 1.1em;
  color: black;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: white;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #999;
  margin: 40px 0;
}

i, span {
  display: inline-block;
}

/* ---------------------------------------------------
		SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #1f317a;
  color: white;
  transition: all 0.3s;
}
#sidebar .sidebar-header {
  min-width: 80px;
  max-width: 250px;
  text-align: center;
  padding: 20px;
  background-color: #192a71;
}
#sidebar .sidebar-header h3 {
  display: block;
  overflow: hidden;
  animation: aumenta 0.3s;
}
#sidebar .sidebar-header strong {
  display: none;
}
#sidebar .components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}
#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #192a71;
}
#sidebar ul li.active > a, #sidebar ul li a[aria-expanded=true] {
  color: white;
  background: #192a71;
}
#sidebar ul li a {
  text-align: left;
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #1f317a;
  background: white;
}
#sidebar ul li i {
  margin-right: 10px;
}
#sidebar.active {
  width: 80px;
  text-align: center;
}
#sidebar.active .sidebar-header {
  padding: 20px;
  background: #192a71;
}
#sidebar.active .sidebar-header h3 {
  display: none;
}
#sidebar.active .sidebar-header strong {
  display: block;
  font-size: 1.75em;
}
#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}
#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}
#sidebar.active ul li a span {
  display: block;
}
#sidebar.active ul ul a {
  padding: 10px !important;
}
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

a[data-toggle=collapse] {
  position: relative;
}

.btn {
  text-align: right;
}

#sidebar-collapse #left {
  width: 14px;
  height: 14px;
  margin-top: 5px;
  margin-right: 11px;
  float: left;
}
#sidebar-collapse #left span {
  width: 100%;
  height: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transform: none;
}
#sidebar-collapse #left span:first-of-type {
  transform: rotate(135deg) translate(0px, 2px);
}
#sidebar-collapse #left span:last-of-type {
  transform: rotate(-135deg) translate(0px, -2px);
}
#sidebar-collapse.active #left span:first-of-type {
  transform: rotate(-315deg) translate(0px, -2px);
}
#sidebar-collapse.active #left span:last-of-type {
  transform: rotate(315deg) translate(0px, 2px);
}

#right {
  float: right;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* ---------------------------------------------------
		CONTENT STYLE
----------------------------------------------------- */
#content {
  width: calc(100% - 250px);
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: calc(100% - 80px);
}

.carousel-indicators {
  position: relative;
}
.carousel-indicators li {
  background-color: black;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-prev {
  width: 3%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-next {
  width: 3%;
}

@keyframes aumenta {
  from {
    font-size: 5px;
  }
  to {
    font-size: 1.75em;
  }
}
/* ---------------------------------------------------
		MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    text-align: center;
    min-width: 80px;
    max-width: 80px;
    margin-left: -80px !important;
  }
  #sidebar .sidebar-header h3 {
    display: none;
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar.active > * {
    display: block;
  }
  #sidebar.active .sidebar-header h3 {
    display: none;
  }
  #sidebar.active .sidebar-header strong {
    display: block;
  }
  #sidebar.active ul li a {
    padding: 20px 10px;
  }
  #sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.3em;
  }
  #sidebar.active ul ul a {
    padding: 10px !important;
  }

  #sidebar-collapse {
    padding: 12px 12px;
  }
  #sidebar-collapse #left {
    margin: 0px;
  }
  #sidebar-collapse #left span:first-of-type {
    transform: rotate(-135deg) translate(0px, 2px);
  }
  #sidebar-collapse #left span:last-of-type {
    transform: rotate(135deg) translate(0px, -2px);
  }
  #sidebar-collapse #right {
    display: none;
  }
  #sidebar-collapse.active #left span:first-of-type {
    transform: rotate(315deg) translate(0px, -2px);
  }
  #sidebar-collapse.active #left span:last-of-type {
    transform: rotate(-315deg) translate(0px, 2px);
  }

  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 80px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}

/*# sourceMappingURL=style.css.map */
